<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--&lt;!&ndash;命名空间不能随意写，应该写此文件所在的包+文件名&ndash;&gt;-->
<!--&lt;!&ndash;目的 为了找到对应的接口文件&ndash;&gt;-->
<!--<mapper namespace="cn.appsys.dao.AppInfoMapper">-->
<!--&lt;!&ndash;映射实体类属性&ndash;&gt;-->
<!--<resultMap id="App_infoList" type="App_info">-->
<!--<id property="id" column="id"/>-->
<!--&lt;!&ndash;普通标签用result&ndash;&gt;-->
<!--<result property="softwareName" column="softwareName"/>-->
<!--<result property="APKName" column="APKName"/>-->
<!--<result property="supportROM" column="supportROM"/>-->
<!--<result property="interfaceLanguage" column="interfaceLanguage"/>-->
<!--<result property="softwareSize" column="softwareSize"/>-->
<!--<result property="updateDate" column="updateDate"/>-->
<!--<result property="devId" column="devId"/>-->
<!--<result property="appInfo" column="appInfo"/>-->
<!--<result property="status" column="status"/>-->
<!--<result property="onSaleDate" column="onSaleDate"/>-->
<!--<result property="offSaleDate" column="offSaleDate"/>-->
<!--<result property="flatformId" column="flatformId"/>-->
<!--<result property="categoryLevel3" column="categoryLevel3"/>-->
<!--<result property="downloads" column="downloads"/>-->
<!--</resultMap>-->
<!--</mapper>-->


<mapper namespace="cn.appsys.dao.AppInfoMapper">
    <resultMap id="App_infoList" type="App_info">
        <id property="id" column="id"/>
        <!--普通标签用result-->
        <result property="softwareName" column="softwareName"/>
        <result property="APKName" column="APKName"/>
        <result property="supportROM" column="supportROM"/>
        <result property="interfaceLanguage" column="interfaceLanguage"/>
        <result property="softwareSize" column="softwareSize"/>
        <result property="updateDate" column="updateDate"/>
        <result property="devId" column="devId"/>
        <result property="appInfo" column="appInfo"/>
        <result property="status" column="status"/>
        <result property="onSaleDate" column="onSaleDate"/>
        <result property="offSaleDate" column="offSaleDate"/>
        <result property="flatformId" column="flatformId"/>
        <result property="categoryLevel3" column="categoryLevel3"/>
        <result property="downloads" column="downloads"/>
    </resultMap>


    <select id="getAppList" resultType="App_info">
        -- select * from app_info
        select a.id, a.softwareName,a.APKName,a.supportROM,a.softwareSize,a.devId,
        (select devName from dev_user where id = a.devId) as devName,
        a.status,
        (select valueName from data_dictionary d where a.status=d.valueId AND d.typeCode='APP_STATUS') as statusName,
        a.flatformId,
        (select valueName from data_dictionary d where a.flatformId=d.valueId AND d.typeCode='APP_FLATFORM') as
        flatformName,
        a.categoryLevel1,
        (select categoryName from app_category c where c.id=a.categoryLevel1) as categoryLevel1Name,
        a.categoryLevel2,
        (select categoryName from app_category c where c.id=a.categoryLevel2) as categoryLevel2Name,
        a.categoryLevel3,
        (select categoryName from app_category c where c.id=a.categoryLevel3) as categoryLevel3Name,
        a.downloads,
        a.onSaleDate,
        a.versionId,
        (select v.versionNo from app_version v where v.id=a.versionId ) as versionNo
        from app_info a

        <trim prefix="where" prefixOverrides="and|or">
            <if test="softwareName!=null and softwareName!=''">
                and softwareName like CONCAT('%',#{softwareName},'%')
            </if>
            <if test="APKName !=null and APKName !='' ">
                and APKName =#{APKName}
            </if>
            <if test="flatformId!=null and flatformId!=0">
                and flatformId =#{flatformId}
            </if>
            <if test="categoryLevel1!=null and categoryLevel1!=0">
                and categoryLevel1 =#{categoryLevel1}
            </if>
            <if test="categoryLevel2!=null and categoryLevel2!=0">
                and categoryLevel2 =#{categoryLevel2}
            </if>
            <if test="categoryLevel3!=null and categoryLevel3!=0">
                and categoryLevel3 =#{categoryLevel3}
            </if>
            and modifyBy=#{modifyBy}
        </trim>
        limit #{from},#{pageSize}

    </select>

    <!--查询总条数-->
    <select id="getTotalCount" resultType="int">
        select COUNT(1) from app_info

        <trim prefix="where" prefixOverrides="and | or">
            <if test="softwareName!=null and softwareName!=''">
                and softwareName like CONCAT('%',#{softwareName},'%')
            </if>
            <if test="APKName!=null and APKName!=''">
                and APKName =#{APKName}
            </if>
            <if test="APKName!=null and APKName!=0">
                and flatformId =#{flatformId}
            </if>
            <if test="categoryLevel1!=null and categoryLevel1!=0">
                and categoryLevel1 =#{categoryLevel1}
            </if>
            <if test="categoryLevel2!=null and categoryLevel2!=0">
                and categoryLevel2 =#{categoryLevel2}
            </if>
            <if test="categoryLevel3!=null and categoryLevel3!=0">
                and categoryLevel3 =#{categoryLevel3}
            </if>
           and modifyBy=#{modifyBy}
        </trim>

    </select>
<!--超级管理员-->
    <select id="getAppList2" resultType="App_info">
        -- select * from app_info
        select a.id, a.softwareName,a.APKName,a.supportROM,a.softwareSize,a.devId,
        (select devName from dev_user where id = a.devId) as devName,
        a.status,
        (select valueName from data_dictionary d where a.status=d.valueId AND d.typeCode='APP_STATUS') as statusName,
        a.flatformId,
        (select valueName from data_dictionary d where a.flatformId=d.valueId AND d.typeCode='APP_FLATFORM') as
        flatformName,
        a.categoryLevel1,
        (select categoryName from app_category c where c.id=a.categoryLevel1) as categoryLevel1Name,
        a.categoryLevel2,
        (select categoryName from app_category c where c.id=a.categoryLevel2) as categoryLevel2Name,
        a.categoryLevel3,
        (select categoryName from app_category c where c.id=a.categoryLevel3) as categoryLevel3Name,
        a.downloads,
        a.onSaleDate,
        a.versionId,
        (select v.versionNo from app_version v where v.id=a.versionId ) as versionNo
        from app_info a
        where status=1
            <if test="softwareName!=null and softwareName!=''">
                and softwareName like CONCAT('%',#{softwareName},'%')
            </if>
            <if test="APKName !=null and APKName !='' ">
                and APKName =#{APKName}
            </if>
            <if test="flatformId!=null and flatformId!=0">
                and flatformId =#{flatformId}
            </if>
            <if test="categoryLevel1!=null and categoryLevel1!=0">
                and categoryLevel1 =#{categoryLevel1}
            </if>
        <if test="categoryLevel2!=null and categoryLevel2!=0">
            and categoryLevel2 =#{categoryLevel2}
        </if>
        <if test="categoryLevel3!=null and categoryLevel3!=0">
            and categoryLevel3 =#{categoryLevel3}
        </if>
        limit #{from},#{pageSize}
    </select>

    <!--查询总条数-->
    <select id="getTotalCount2" resultType="int">
        select COUNT(1) from app_info
       where status=1
            <if test="softwareName!=null and softwareName!=''">
                and softwareName like CONCAT('%',#{softwareName},'%')
            </if>
            <if test="APKName!=null and APKName!=''">
                and APKName =#{APKName}
            </if>
            <if test="APKName!=null and APKName!=0">
                and flatformId =#{flatformId}
            </if>
            <if test="categoryLevel1!=null and categoryLevel1!=0">
                and categoryLevel1 =#{categoryLevel1}
            </if>
        <if test="categoryLevel2!=null and categoryLevel2!=0">
            and categoryLevel2 =#{categoryLevel2}
        </if>
        <if test="categoryLevel3!=null and categoryLevel3!=0">
            and categoryLevel3 =#{categoryLevel3}
        </if>
    </select>
    <!--============================================================添加-->
    <!--<insert id="addAPP" parameterType="App_info">-->
        <!--insert into app_info (-->
      <!--softwareName,APKName,supportROM,-->
					<!--interfaceLanguage,softwareSize,downloads,appInfo,status,flatformId,categoryLevel1,categoryLevel2,categoryLevel3)-->
					<!--values(#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},-->
					<!--#{softwareSize},#{downloads},#{appInfo},#{status},#{flatformId},#{categoryLevel1},#{categoryLevel2},#{categoryLevel3})-->
    <!--</insert>-->
    <insert id="addAPP" parameterType="App_info">
        insert into app_info (
      softwareName,APKName,supportROM,
					interfaceLanguage,softwareSize,downloads,appInfo,status,flatformId,categoryLevel1,
					categoryLevel2,categoryLevel3,logoPicPath,logoLocPath,modifyBy)
					values(#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},
					#{softwareSize},#{downloads},#{appInfo},#{status},#{flatformId},#{categoryLevel1},
					#{categoryLevel2},#{categoryLevel3},#{logoPicPath},#{logoLocPath},#{modifyBy})
    </insert>
    <!--==========================================================根据id删除APP-->
    <delete id="getdelete" parameterType="App_info">
         delete from app_info
        where id=#{id}
    </delete>
    <!--根据id查看详情-->
    <select id="ChakanList" resultType="App_info">
            select a.id, a.softwareName,a.APKName,a.supportROM,a.softwareSize,a.devId,a.interfaceLanguage,a.appInfo,a.logoLocPath,a.logoPicPath,
        (select devName from dev_user where id = a.devId) as devName,
        a.status,
        (select valueName from data_dictionary d where  a.status=d.valueId AND d.typeCode='APP_STATUS') as statusName,
        a.flatformId,
        (select valueName from data_dictionary d where  a.flatformId=d.valueId AND d.typeCode='APP_FLATFORM') as flatformName,
        a.categoryLevel1,
        (select categoryName from app_category c where  c.id=a.categoryLevel1) as categoryLevel1Name,
        a.categoryLevel2,
        (select categoryName from app_category c where  c.id=a.categoryLevel2) as categoryLevel2Name,
        a.categoryLevel3,
        (select categoryName from app_category c where  c.id=a.categoryLevel3) as categoryLevel3Name,
        a.downloads,
        a.onSaleDate,
        a.versionId,
        (select v.versionNo from app_version v where v.id=a.versionId ) as versionNo
        from  app_info a
           where id=#{id}
    </select>
    <!--根据id查看版本等信息-->
    <select id="ChakanBanben" resultType="App_version">
        	select v.*,
			(select a.softwareName from app_info a where a.id=v.appId ) as appName,
			(select valueName from data_dictionary d where  v.publishStatus=d.valueId AND d.typeCode='PUBLISH_STATUS') as publishStatusName
			from  app_version  v
	WHERE v.appId = #{appId}
order by v.creationDate DESC
    </select>
    <select id="ChakanBanben2" resultType="App_version">
        	select v.*,
			(select a.softwareName from app_info a where a.id=v.appId ) as appName,
			(select valueName from data_dictionary d where  v.publishStatus=d.valueId AND d.typeCode='PUBLISH_STATUS') as publishStatusName
			from  app_version  v
	WHERE v.appId = #{appId}
order by v.creationDate DESC
    </select>
    <!--修改上架为下架操作-->
    <update id="getShangJiaById" parameterType="App_info">
        update app_info set status=5
        where id=#{id}
    </update>
    <!--修改下架为上架操作-->
    <update id="getXiaJiaById" parameterType="App_info">
        update app_info set status=4
        where id=#{id}
    </update>
    <!--根据id修改信息-->
    <update id="modifyById" parameterType="App_info">
        update app_info
        <trim prefix="set" suffixOverrides=",">
            <if test="softwareName !=null and softwareName !=''">softwareName=#{softwareName},</if>
            <if test="APKName !=null and APKName !=''">APKName=#{APKName},</if>
            <if test="supportROM !=null and supportROM !=''">supportROM=#{supportROM},</if>
            <if test="interfaceLanguage !=null and interfaceLanguage !=''">interfaceLanguage=#{interfaceLanguage},</if>
            <if test="softwareSize !=null and softwareSize !=''">softwareSize=#{softwareSize},</if>
            <if test="appInfo !=null and appInfo !=''">appInfo=#{appInfo}</if>
        </trim>
        where id=#{id}
    </update>
    <!--根据id 新增版本-->
    <!--返回主键类型被自动强转为Long-->
    <insert id="addByid" parameterType="App_version">
		insert into app_version (appId,versionNo,versionSize,versionInfo,publishStatus,creationDate,modifyBy,modifyDate)
				values(#{appId},#{versionNo},#{versionSize},#{versionInfo},#{publishStatus},#{creationDate},#{modifyBy},#{modifyDate})
	</insert>
    <!--//    在增加id的方法中查询id 然后调用修改-->
    <select id="Cha" resultType="App_version">
        	SELECT * FROM app_version where id=( SELECT MAX(id) FROM app_version where appId=#{appId})
    </select>
    <!--//    修改-->
    <update id="Cha2" parameterType="App_info">
          update app_info set
            versionId=#{versionId} where id=#{id}

    </update>

    <!--//    根据id修改-修改版本-->
    <update id="xiugaiByid" parameterType="App_info">
        update app_info
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
            <if test="softwareSize != null">softwareSize=#{softwareSize},</if>
            <if test="appInfo != null">appInfo=#{appInfo}</if>
        </trim>
    </update>
    <!--审核通过-->
    <update id="tongguo" parameterType="App_info">
          update app_info set status=2
        where id=#{id}
    </update>
    <!--审核不通过-->
    <update id="butongguo" parameterType="App_info">
          update app_info set status=3
        where id=#{id}
    </update>
</mapper>